.hero-main {
  background: linear-gradient(135deg, #0006, #0000001a 100%);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-color: rgba(235, 235, 235, 1);
}
@media screen and (max-width: 768px) {
  .hero-main {
    background: #d32323;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-color: rgba(235, 235, 235, 1);
  }
}

.custom-progress-bar::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.custom-progress-bar::-webkit-progress-value {
  background-color: white !important;
}
